{%extends "base.html"%}

{% block headercss %}
 <style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
</style>


{% endblock %}

{% block contentWrapper%}

<div class="content-wrapper">

    <section class="content">


      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 style="float:left" class="box-title">联系我们</h3>


            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <div class="col-xs-8" style="text-align:center">
                <br>
                <br>
                    <p>test.cmcm,com</p>

                <br>
                <br><br>
                <br><br>
                <br>
                </div>
            </div>
   
              
             


			
			
            <!-- /.box -->
          </div>
		</div>
	  
	</div> <!-- /.row-->
	




		
		
	</section>
</div>
{% endblock %}
{% block bodyjs %}

<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>


	
</script>
<script>



</script>
{% endblock %}