
<div class = "modal fade" id = "device_mobile_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "device_imei_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px" >
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "device_apps_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->


<div class = "modal fade" id = "device_pkgs_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "net_id_api_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div >
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->
<div class = "modal fade" id = "position_gps_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->
<div class = "modal fade" id = "basis_email_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->
<div class = "modal fade" id = "net_id_account_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div >
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->



<div class = "modal fade" id = "net_id_password_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px" >
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "basis_name_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "basis_mobilephone_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "basis_telephone_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "basis_address_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px" >
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->





<div class = "modal fade" id = "personal_id_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "biology_finger_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->

<div class = "modal fade" id = "biology_portrait_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->


<div class = "modal fade" id = "device_security_div" >
   <div class = "modal-dialog" >
       <div class = "modal-content" style="width:800px">
           <div class = "modal-header" >
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close" >
                    <span aria-hidden = "true" > &times
                    </span>
                </button>
                <h4 class = "modal-title" > 个人数据详情 </h4>
            </div >
            <div class = "modal-body" >
                {% include 'invest/pri_info.html' %}
            </div>
            <div class = "modal-footer" >
                <button type = "button" class = "btn btn-default" data-dismiss = "modal" > Close </button>
            </div>
        </div >
            <!-- / .modal-content -->
    </div>
        <!-- / .modal-dialog -->
</div >
    <!-- / .modal -->



